<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ song.title }} (pyleadsheet)</title>
        <link rel="stylesheet" type="text/css" href="pyleadsheet.css" />
    </head>

    <body>
        <div id="header_container" class="content_container">
            <div id="song_title">{{ song.title }}</div>
            <div id="song_attributes">{{ song.key }}, {{ song.time }}</div>
        </div>
        <div id="progressions_container" class="content_container">
            <div id="progressions_title" class="content_container_title">Progressions</div>
            <div id="progressions_content">
                {% for progression in song.progressions %}
                    <div class="progression_container row {{ loop.cycle('odd', 'even') }}">
                        <div class="progression_name fixed_width">{{ progression.name }}</div>
                        <div class="progression_content">
                            {% for measure in progression.measures %}
                                {% if loop.index % 4 == 1 %}
                                    <div class="progression_row">
                                        <span class="progression_measure_delimiter">|</span>
                                {% endif %}
                                <span class="progression_measure_content">
                                    {% for subdivision in measure %}
                                        <span class="progression_measure_subdivision">{{ subdivision }}</span>
                                    {% endfor %}
                                </span>
                                <span class="progression_measure_delimiter">|</span>
                                {% if loop.index % 4 == 0 or loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="content_container_spacer"></div>
        <div id="form_container" class="content_container">
            <div id="form_title" class="content_container_title">Form</div>
            <div id="form_content">
                {% for section in song.form %}
                    <div class="form_section row {{ loop.cycle('odd', 'even') }}">
                        <div class="form_section_progression fixed_width">{{ section.progression }}</div>
                        <span class="form_section_reps">{% if section.reps %}{{ section.reps }}x{% endif %}</span>
                        <span class="form_section_comment">{% if section.comment %}-- {{ section.comment }}{% endif %}</span>
                        <div class="form_section_lyrics_hint">{{ section.lyrics_hint }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="content_container_spacer"></div>
        <div id="lyrics_container" class="content_container">
            <div id="lyrics_title" class="content_container_title">Lyrics</div>
            <div id="lyrics_content">
                {% for section in song.form %}
                    {% if section.lyrics %}{{ section.lyrics|safe }}<br /><br /{% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="footer_container">
            Generated by pyleadsheet on {{ timestamp }}
        </div>
    </body>

</html>
